<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280139727452-64j327qokf36ge6qn3hn4p0oags4nmkj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280139727452-64j327qokf36ge6qn3hn4p0oags4nmkj</string>
	<key>API_KEY</key>
	<string>AIzaSyDatggIGqZDYvhU2ML7uRidoezLeXLifnc</string>
	<key>GCM_SENDER_ID</key>
	<string>280139727452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notification</string>
	<key>PROJECT_ID</key>
	<string>asalamjee</string>
	<key>STORAGE_BUCKET</key>
	<string>asalamjee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280139727452:ios:95b3b1ec44e92672b89c99</string>
</dict>
</plist>